<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Sistem Prediksi</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/static/vendors/feather/feather.css">
  <link rel="stylesheet" href="/static/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="/static/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/static/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="/static/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" type="text/css" href="/static/js/select.dataTables.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/static/css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/static/images/pt1.png" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

  <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
  <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

</head>

<body class="loggedin">
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand" href="#"><img src="/static/images/pt2.png" alt="logo"></a>
      </div>

      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>

        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="/static/images/user.jpg" alt="profile"/>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item" href="{{ url_for('logout') }}">
                <i class="ti-power-off text-primary"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>

        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
  </div>

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div id="right-sidebar" class="settings-panel"></div>
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          {% if session['role'] == "admin" %}
          <li class="nav-item">
            <a class="nav-link" href="/index">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/dataKesiapan">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Data Kesiapan</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/prediksi">
              <i class="icon-bar-graph menu-icon"></i>
              <span class="menu-title">Prediksi</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/pengguna">
              <i class="icon-head menu-icon"></i>
              <span class="menu-title">Data Pengguna</span>
            </a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/index">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/dataKesiapan">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Data Kesiapan</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/prediksi">
              <i class="icon-bar-graph menu-icon"></i>
              <span class="menu-title">Prediksi</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
  </body>
</html>