{% include 'header.html' %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold">Welcome, {{ username }}!</h3>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 grid-margin transparent">
              <div class="row">
                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card card-tale">
                    <div class="card-body">
                      <p class="mb-4">Data Kesiapan</p>
                      <p class="fs-30 mb-2">{{ dataKesiapan }}</p>
                      <p>Tahun 2016 - 2022</p>
                    </div>
                  </div>
                </div>

                {% if session['role']=="admin" %}
                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card card-light-danger">
                    <div class="card-body">
                      <p class="mb-4">Data Pengguna</p>
                      <p class="fs-30 mb-2">{{ pengguna.0 }}</p>
                      <p>Daftar Pengguna Sistem</p>
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
{% include 'footer.html' %}




